{% extends 'default.html.twig' %}

{% block main %}
    <article id="download">
        <h2>{% trans 'Download' %}</h2>
        <p>{% trans 'Die Daten stehen in einem freien und offenen Format zur Verfügung, d. h. die Daten können auch für andere Projekte verwendet werden.' %}</p>
        <ul>
            <li><a href="/data/data.json">{% trans 'Download JSON' %}</a></li>
            <li><a href="/data/data.csv">{% trans 'Download csv' %}</a>
                ({% trans 'Trennzeichen: Semikolon, da einige der Namen ein Komma enthalten' %})</li>
        </ul>
        <p>{% trans 'Hinweis: Die Daten werden täglich neu in die beiden Formate exportiert.' %}</p>
    </article>
{% endblock %}
