{% extends 'default.html.twig' %}

{% block main %}
    <article>
        <h2>{% trans 'Entwickler' %}</h2>
        <p>{% trans 'kirchen-im-web.de ist ein Gemeinschaftsprojekt von' %}</p>
        <ul>
            <li><a href="http://joerg-lohrer.de/">Jörg Lohrer</a></li>
            <li><a href="https://patrick-robrecht.de">Patrick Robrecht</a></li>
        </ul>

        <p>{% trans 'Idee' %}: Jörg Lohrer</p>
        <p>{% trans 'Technische Umsetzung' %}: Patrick Robrecht</p>
        <p>{% trans 'Daten: viele Leute, die Daten über unser Formular hinzugefügt haben' %}
            <br>{% trans 'Für die Korrektur falscher Daten wenden Sie sich bitte an Patrick Robrecht:' %}
            kontakt [ät-Zeichen] kirchen [minus] im [minus] web de.</p>

        <p>{% trans 'Möchten Sie bei der Weiterentwicklung mithelfen?' %}
            <a href="{{ path_for(languageSlug ~ '-legal') }}">{% trans 'Dann schreiben Sie uns!' %}</a></p>
    </article>

    <article>
        <h2>{% trans 'Lizenzen' %}</h2>
        <p>{% trans 'Der Quelltext dieser Webanwendung ist frei verfügbar.' %}
            (<a href="https://github.com/patrickrobrecht/kirchen-im-web">Github</a>).</p>
        <ul>
            <li><a href="http://www.designbolts.com/2013/06/27/new-flat-free-social-media-icons-2013/">Social Media Icons, DesignBolts.com</a>, CC BY-NC-ND 3.0</li>
            <li><a href="https://www.gosquared.com/resources/flag-icons/">2600 Flag Icon Set</a>, MIT License</li>
        </ul>
    </article>

    <article>
        <h2>{% trans 'Impressum' %}</h2>
        <p>Verantwortlich für diesen Webauftritt ist:
            <br>Patrick Robrecht, Dr.-Rörig-Damm 99, 33102 Paderborn
            <br>E-Mail: kontakt [ät-Zeichen] kirchen [minus] im [minus] web de
            <br>Twitter: <a href="https://twitter.com/kirchenimweb/">@kirchenimweb</a></p>
    </article>
{% endblock %}