{% extends 'default.html.twig' %}

{% block main %}
    <article>
        <h2>{% trans 'Entwickler' %}</h2>
        <p>{% trans 'Idee' %}:
            <a href="http://joerg-lohrer.de/">Jörg Lohrer</a></p>
        <p>{% trans 'Technische Umsetzung' %}:
            <a href="https://patrick-robrecht.de">Patrick Robrecht</a></p>
        <p>{% trans 'Daten: viele Leute, die Daten über unser Formular hinzugefügt haben' %}
            <br>{% trans 'Für die Korrektur falscher Daten wenden Sie sich bitte an Patrick Robrecht:' %}
            kontakt [ät-Zeichen] kirchen [minus] im [minus] web de.</p>
        <p>{% trans 'Möchten Sie bei der Weiterentwicklung mithelfen?' %}
            {% trans 'Dann schreiben Sie uns!' %}</p>
    </article>

    <article>
        <h2>{% trans 'Lizenzen' %}</h2>
        <p>{% trans 'kirchen-im-web.de ist Open Source:' %}
            <a href="https://github.com/patrickrobrecht/kirchen-im-web">Github</a></p>
        <ul>
            <li><a href="http://www.designbolts.com/2013/06/27/new-flat-free-social-media-icons-2013/">Social Media Icons, DesignBolts.com</a>, CC BY-NC-ND 3.0</li>
            <li><a href="https://www.gosquared.com/resources/flag-icons/">2600 Flag Icon Set</a>, MIT License</li>
        </ul>
    </article>

    <article>
        <h2>{% trans 'Impressum' %}</h2>
        <p>Verantwortlich für diesen Webauftritt ist:
            <br>{{ settings.legalNotice }}
            <br>E-Mail: {{ settings.mailContactEscaped }}
            <br>Twitter: <a href="https://twitter.com/kirchenimweb/">@kirchenimweb</a></p>
    </article>
{% endblock %}
