@charset "UTF-8";

/* Import necessary Bootstrap modules. */
$link-decoration: none !default;

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/breadcrumb";
@import "../../node_modules/bootstrap/scss/alert";
@import "../../node_modules/bootstrap/scss/helpers";
@import "../../node_modules/bootstrap/scss/utilities/api";

/* Import necessary tablesort styles. */
@import "../../node_modules/tablesort/tablesort.css";

/* Icons for links and social networks */
a[href^="http://"]::after {
  content: " " url("../../images/non-secure.png");
}

.web::before {
  content: url("../../images/icons/web.png") " ";
}

.blog::before {
  content: url("../../images/icons/blog.png") " ";
}

.rss::before {
  content: url("../../images/icons/rss.png") " ";
}

.facebook::before {
  content: url("../../images/icons/facebook.png") " ";
}

.flickr::before {
  content: url("../../images/icons/flickr.png") " ";
}

.instagram::before {
  content: url("../../images/icons/instagram.png") " ";
}

.soundcloud::before {
  content: url("../../images/icons/soundcloud.png") " ";
}

.twitter::before {
  content: url("../../images/icons/twitter.png") " ";
}

.vimeo::before {
  content: url("../../images/icons/vimeo.png") " ";
}

.youtube::before {
  content: url("../../images/icons/youtube.png") " ";
}

/* Icons for countries */
.at::before {
  content: url("../../images/flags/Austria.png") " ";
}

.ch::before {
  content: url("../../images/flags/Switzerland.png") " ";
}

.de::before {
  content: url("../../images/flags/Germany.png") " ";
}

.li::before {
  content: url("../../images/flags/Liechtenstein.png") " ";
}

.lu::before {
  content: url("../../images/flags/Luxembourg.png") " ";
}

/* Icons for denominations */
.alt-katholisch::before {
  content: url("../../images/markers/orange.png") " ";
}

.anglikanisch::before {
  content: url("../../images/markers/green.png") " ";
}

.evangelisch::before {
  content: url("../../images/markers/purple.png") " ";
}

.freikirchlich::before {
  content: url("../../images/markers/blue.png") " ";
}

.katholisch::before {
  content: url("../../images/markers/yellow.png") " ";
}

.ökumenisch::before { /* stylelint-disable-line selector-class-pattern */
  content: url("../../images/markers/red.png") " ";
}

/* Leaflet fetches tiles with height 256px, so choose a multiplied value of that here */
#map {
  height: 512px;
  width: 512px;
}

@media (min-width: 1024px) {
  #map {
    height: 768px;
    width: 1024px;
  }
}

#detailsmap {
  height: 512px;
  width: 512px;
  margin-bottom: 20px;
}

.details tr > :nth-child(1) {
  width: 170px;
}

/* charts, statistics */
.chart {
  width: 512px;
  min-height: 400px;
}

.stats-table {
  width: auto;
}

/* tables */
.number {
  text-align: right;
}

/* print version */
@media print {
  body {
    background: none;
    font-size: 10pt;
    color: #fff;
  }

  header,
  footer,
  nav {
    display: none;
  }
}
